<div class="container-fluid body" id="body">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h2>My Booking</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 card-holder">
      <div class="row">
        <div class="col-md-4">
          <div class="container-fluid zero-padding">
            <a href="/pastactivity" class="link-card">
              <div class="card" style="width: 15rem; display: inline-block">
                <img class="card-img-top" src="../../assets/booking.jpg" style="height: 158px; width: 238px;"
                alt="Past Activities">
                <!--https://unsplash.com/photos/9n1USijYJZ4-->
                <div class="card-body">
                  <h5 class="card-title">Booking Activities</h5>
                  <p class="card-text">View your past activities. </p>
                </div>
              </div>  
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container-fluid zero-padding">
            <a href="/upcomingevent" class="link-card">
              <div class="card" style="width: 15rem; display: inline-block">
                <img class="card-img-top" src="assets/wedding.jpeg" style="height: 158px; width: 238px;"
                alt="Upcoming Events">
                <!--http://www.angweddingsandevents.com/-->
                <div class="card-body">
                  <h5 class="card-title">Upcoming Events</h5>
                  <p class="card-text">View and manage your Upcoming Events.</p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container-fluid zero-padding">
            <a href="/pendingrequest" class="link-card">
              <div class="card" style="width: 15rem; display: inline-block">
                <img class="card-img-top" src="../../assets/pending.jpg" style="height: 158px; width: 238px;"
                alt="Pending Requests">
                <!--https://www.vakilno1.com-->
                <div class="card-body">
                  <h5 class="card-title">Pending Requests</h5>
                  <p class="card-text">Accept/Reject your pending user requests.</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
          <div class="col-md-10">
            <hr/>
          </div>
        </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>