<!DOCTYPE html>
<title>Customer Bookings</title>
  <!-- author Lakshmi Narayana lk720991@dal.ca _ used same code of my-bookings designed by luke and made few changes-->
  <div class="container-fluid body" id="body">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h2>My Bookings</h2>
    </div>
  </div>
  <!-- below are the card view of bookikng types linked with respective screens using "href" -->
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 card-holder">
      <div class="row">
        <div class="col-md-4">
          <!-- Booking history card -->
          <div class="container-fluid zero-padding">
            <a href="/pastbookings" class="link-card">
              <div class="card" style="width: 15rem; display: inline-block">
                <img class="card-img-top" src="../../assets/booking.jpg" style="height: 158px; width: 238px;"
                alt="pastbookings">
                <!--https://unsplash.com/photos/9n1USijYJZ4-->
                <div class="card-body">
                  <h5 class="card-title">Booking history</h5>
                  <p class="card-text">View your bookings. </p>
                </div>
              </div>  
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <!-- Future events card -->
          <div class="container-fluid zero-padding">
            <a href="/futurebookings" class="link-card">
              <div class="card" style="width: 15rem; display: inline-block">
                <img class="card-img-top" src="assets/wedding.jpeg" style="height: 158px; width: 238px;"
                alt="Future events">
                <!--http://www.angweddingsandevents.com/-->
                <div class="card-body">
                  <h5 class="card-title">Future Events</h5>
                  <p class="card-text">Approved bookings.</p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <!-- Pending bookings card -->
          <div class="container-fluid zero-padding">
            <a href="/pendingbookings" class="link-card">
              <div class="card" style="width: 15rem; display: inline-block">
                <img class="card-img-top" src="../../assets/pending.jpg" style="height: 158px; width: 238px;"
                alt="pending bookings">
                <!--https://www.vakilno1.com-->
                <div class="card-body">
                  <h5 class="card-title">Pending Bookings</h5>
                  <p class="card-text">Requests waiting for photographer approval.</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
          <div class="col-md-10">
            <hr/>
          </div>
        </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>