<div class="container-fluid" id="body">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8" style="margin-top: 30px;">
      <div id="booking-card" class="card" *ngIf="edit==false">
        <h4 class="card-header">My Account</h4>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <form>
                <div class="row">
                  <div class="input-group col-sm-6">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="usersName">Name: </span>
                    </div>
                    <input class="form-control" aria-label="name" aria-describedby="usersName" placeholder={{user.name}}
                      disabled>
                  </div>

                  <div class="input-group col-sm-6">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="userEmail">Email: </span>
                    </div>
                    <input class="form-control" aria-label="userEmail" aria-describedby="userEmail"
                      placeholder={{user.email}} disabled>
                  </div>
                </div>

                <div class="row" style="padding-top: 20px;">
                  <div class="col-md-9">
                    <div class="col-md-6">
                      <a href="#">Forgot password?</a>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <button (click)="editForm()" class="btn btn-warning">Update</button>
                  </div>                  
                </div>
                <br>
              </form>
            </div>

          </div>
        </div>
      </div>

      <!-- if user is editing -->
      <div id="booking-card" class="card" *ngIf="edit==true">
        <h4 class="card-header">My Account</h4>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <form>
                <div class="row">
                  <div class="input-group col-sm-6">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="usersName">Name: </span>
                    </div>
                    <input class="form-control" aria-label="name" aria-describedby="usersName" name="usersName"
                      [(ngModel)]="formData.usersName" value={{user.name}}>
                  </div>

                  <div class="input-group col-sm-6">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="userEmail">Email: </span>
                    </div>
                    <input class="form-control" aria-label="userEmail" aria-describedby="userEmail" name="usersEmail"
                      [(ngModel)]="formData.usersEmail" value={{user.email}}>
                  </div>
                </div>

                <div class="row" style="padding-top: 20px;">
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <a href="#">Forgot password?</a>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <button (click)="editForm()" class="btn btn-warning">Cancel</button>
                    &nbsp;
                    <button (click)="saveChanges()" class="btn btn-info">Save</button>
                  </div>
                </div>
                <br>
              </form>
            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="col-sm-2"></div>

  </div>
</div>