<body id="body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">

      </div>
      <div class="col-sm-8 card" id="payment-card">
        <h4 class="card-header">Payment</h4>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="photogRate">Rate: </span>
                </div>
                <label class="form-control" aria-label="rate" aria-describedby="photogRate">$80</label>
              </div>
            </div>
            <div class="col-md-4">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="eventHours">Hours: </span>
                  </div>
                  <label class="form-control" aria-label="rate" aria-describedby="eventHours">3</label>
                </div>
              </div>
              <div class="col-md-4">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="photogRate">Total: </span>
                    </div>
                    <label class="form-control" aria-label="rate" aria-describedby="photogRate">$240</label>
                  </div>
                </div>
          </div>
          <form id="payment-form" method="POST" action="/payment">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label class="form-control-label" for="cardName">Name on card</label>
                <input type="name" class="form-control" name="cardName" [(ngModel)]="nameOnCard" #cardName="ngModel"
                  pattern="[a-z][A-Z]$" placeholder="Name on Card" required>
                <div *ngIf="cardName.invalid && (cardName.dirty || cardName.touched)" class="form-invalid">
                  <div *ngIf="cardName.errors.required">
                    Name on card is required.
                  </div>
                  <div *ngIf="cardName.errors.pattern">
                    Name is invalid.
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label class="form-control-label" for="cardNum">Card Number</label>
                <input type="name" class="form-control" name="cardNum" [(ngModel)]="numberCard" #cardNum="ngModel"
                  pattern="\b\d{4}[ -]?\d{4}[ -]?\d{4}[ -]?\d{4}\b" placeholder="XXXX-XXXX-XXXX-XXXX" required>
                <div *ngIf="cardNum.invalid && (cardNum.dirty || cardNum.touched)" class="form-invalid">
                  <div *ngIf="cardNum.errors.required">
                    Card Number is required.
                  </div>
                  <div *ngIf="cardNum.errors.pattern">
                    Card Number is invalid.
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label class="form-control-label" for="billingAddr">Billing Address</label>
                <input type="name" class="form-control" name="billingAddr" [(ngModel)]="billingAddress"
                  #billingAddr="ngModel"
                  pattern="^(\d{3,})\s?(\w{0,5})\s([a-zA-Z]{2,30})\s([a-zA-Z]{2,15})\.?\s?(\w{0,5})$"
                  placeholder="130 Address St" required>
                <div *ngIf="billingAddr.invalid && (billingAddr.dirty || billingAddr.touched)" class="form-invalid">
                  <div *ngIf="billingAddr.errors.required">
                    Billing Address is required.
                  </div>
                  <div *ngIf="billingAddr.errors.pattern">
                    Billing Address is invalid.
                  </div>
                </div>
              </div>
              <div class="form-group col-md-2">
                <label class="form-control-label" for="cardCVC">CVC</label>
                <input type="name" class="form-control" name="cardCVC" [(ngModel)]="CVC" #cardCVC="ngModel"
                  pattern="/^[0-9]{3}$/" placeholder="CVC" required>
                <div *ngIf="cardCVC.invalid && (cardCVC.dirty || cardCVC.touched)" class="form-invalid">
                  <div *ngIf="cardCVC.errors.required">
                    CVC is required.
                  </div>
                  <div *ngIf="cardCVC.errors.pattern">
                    CVC is invalid.
                  </div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label class="form-control-label" for="cardExpiry">Expiration Date</label>
                <input type="name" class="form-control" name="cardExpiry" [(ngModel)]="cardExpiration"
                  #cardExpiry="ngModel" pattern="/^[0-9]{3}$/" placeholder="DD-MM-YYYY" required>
                <div *ngIf="cardExpiry.invalid && (cardExpiry.dirty || cardExpiry.touched)" class="form-invalid">
                  <div *ngIf="cardExpiry.errors.required">
                    Expiration date is required.
                  </div>
                  <div *ngIf="cardExpiry.errors.pattern">
                    Expiration date is invalid.
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">

              <button type="reset" class="btn btn-warning" id="reset-btn" value="Reset">Reset</button>
              <button type="submit" value="Submit" id="profile-btn" class="btn btn-primary">Pay now</button>
            </div>

          </form>
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
</body>