<!DOCTYPE html>
<title>Search Photographer</title>
  <!-- author Lakshmi Narayana lk720991@dal.ca-->
<body>
   <!--Search -->
  <div class="card-section1">
    <input class="search" [(ngModel)]="searchstring" name="s" (keyup)=searchphotographer($event) type="text" id="keywords" value="" placeholder="search by Photographer or location">
  </div>
  <div class="container">
    <!-- //Bio: author: katie thurmes https://www.pinterest.it/pin/227361481172548973/ -->
    <div *ngFor="let photo of photographer;let inter = index">
        <div *ngIf="photo.show" class="card">
          <img class="card-img-top" style="height:230px"
            [src]="photo.image"
            alt="Portfolio1">
          <div class="card-body">
            <h5 class="card-title">{{photo.name}}</h5>
            <h5 class="card-title1">{{photo.place}}</h5>
            <p class="card-text">{{photo.bio}}</p>
            <a routerLink="/profile/1" id="profile-btn" class="btn btn-primary">View Profile</a>
          </div>
        </div>
    </div>
  </div>
</body>