.card-section1
{
  background-color: white;
  padding: 30px;
}
.search{
      background-color:white;
      padding: 10px;
      width: 100%;
    }
.section2
    {
      text-align: center;
      background-color:white;
    }
    .card{
      
      box-shadow: 2px 4px 6px  2px rgba(0,0,0,0.4);
  }