<div class="container-fluid body" id="body">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h3>Welcome {{user.name}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 card-holder">
      <div class="row">
        <div class="col-md-4">
          <div class="container-fluid zero-padding">
            <a href="/mybookings" class="link-card">
              <div class="card" style="width: 15rem; display: inline-block">
                <img class="card-img-top" src="../../assets/booking.jpg" style="height: 158px; width: 238px;"
                alt="My Bookings">
                <!--https://unsplash.com/photos/9n1USijYJZ4-->
                <div class="card-body">
                  <h5 class="card-title">My Bookings</h5>
                  <p class="card-text">View and manage your past and upcoming bookings. </p>
                </div>
              </div>  
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container-fluid zero-padding">
            <a href="findphotographer" class="link-card">
              <div class="card" style="width: 15rem; display: inline-block">
                <img class="card-img-top" src="../../assets/findphotog.jpg" style="height: 158px; width: 238px;"
                alt="Find a photographer">
                <!--https://unsplash.com/photos/jkZs3Oi9pq0-->
                <div class="card-body">
                  <h5 class="card-title">Find a Photographer</h5>
                  <p class="card-text">Search our database of readily available professional photographers at an affordable rate</p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container-fluid zero-padding">
            <a href="account" class="link-card">
              <div class="card" style="width: 15rem; display: inline-block">
                <img class="card-img-top" src="../../assets/myaccount.jpg" style="height: 158px; width: 238px;"
                alt="My Account">
                <!--https://unsplash.com/photos/2LowviVHZ-E-->
                <div class="card-body">
                  <h5 class="card-title">Manage Account</h5>
                  <p class="card-text">View and edit any details pertaining to your account with Photobook</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
          <div class="col-md-10">
            <hr/>
          </div>
        </div>
    </div>
    <div class="col-md-1"></div>
  </div>  
</div>